page-cadastro-lista-compras {

    .img-bordas  {     
        border-radius: 26px;
    }

    .item-header-color {
        background-color: #F8F8F8 !important;
    }

    .iten-div-color {
        background-color:#F8F8F8 !important;
    }

}
