<!--
  Generated template for the CadastroProdutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="ion-header">
    <ion-navbar>
      <ion-buttons start *ngIf="usuario.isMercado">
        <button ion-button icon-only (click)="limparCampos()">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="scanBarCodeZBar()"> 
          <ion-icon name='barcode-outline'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-item scroll-hide-translate no-lines class="item-header-color">
      <ion-thumbnail item-start>
        <img [src]="produto.foto" class="img-bordas-avatar" (click)="presentActionSheet()">
      </ion-thumbnail>
      <ion-item no-lines class="item-header-color">
          <h1 class="item-h1-style">{{produto.nome}}</h1>
      </ion-item>
      <ion-icon item-end *ngIf="!isMostrarImg" ios="ios-arrow-down" md="md-arrow-down"(click)="mostrarImagem('fadeInDown')"></ion-icon>
      <ion-icon item-end *ngIf="isMostrarImg" ios="ios-arrow-up" md="md-arrow-up"(click)="mostrarImagem('fadeOutUp')"></ion-icon>
    </ion-item>
  </ion-header>
      
  
      <ion-content padding [scroll-hide]="viewCtrl">
        <div *ngIf="usuario.isMercado">
          <form [formGroup]="produtoForm">
            <ion-card *ngIf="isMostrarImg" [ngClass]="cssClass">
              <ion-card-content>
                <img [src]="produto.foto" class="img-responsive" />
              </ion-card-content>
            </ion-card>      
            <ion-list>
              <ion-item>
                <ion-label color="primary" floating>Código de Barra</ion-label>
                <ion-input name="barCode" type="tel" [readonly]="isReadonly" [(ngModel)]="produto.plu" [disabled]="!usuario.isMercado" formControlName="barCode" clearInput></ion-input>
              </ion-item>   
              <ion-item>
                  <ion-label color="primary" floating>Marca</ion-label>
                  <ion-input name="marca" type="text" [(ngModel)]="produto.marca" [disabled]="!usuario.isMercado" formControlName="marca" clearInput></ion-input>
                </ion-item>
              <ion-item>
                <ion-label color="primary" floating>Nome</ion-label>
                <ion-input name="nome" type="text" maxLength="12" [(ngModel)]="produto.nome" [disabled]="!usuario.isMercado" formControlName="nome" clearInput></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" floating>Descrição</ion-label>
                <ion-textarea #myInput name="desc" id="myInput" rows="1" [disabled]="!usuario.isMercado" maxLength="500" (keyup)="resize()" formControlName="desc" [(ngModel)]="produto.desc" clearInput></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label color="primary" floating>Valor (R$)</ion-label>
                <ion-input name="preco" type="tel" [(ngModel)]="produto.preco" [disabled]="!usuario.isMercado" [brmasker]="{money: true}" formControlName="preco" clearInput></ion-input>
              </ion-item>
              <ion-item>
                  <ion-toggle name="isPromocao" checked="false" [(ngModel)]="produto.isPromocao" [disabled]="!usuario.isMercado" formControlName="isPromocao"></ion-toggle>
                  <ion-label color="primary">
                    Promoção
                  </ion-label>
              </ion-item>
            </ion-list>
            <button ion-button full round (click)="salvarProduto()" [disabled]="produtoForm.invalid" *ngIf="usuario.isMercado">Salvar</button>
          </form>
        </div>
        <div>
          <ion-list [virtualScroll]="produtos" *ngIf="!usuario.isMercado" class="list card animated bounceInLeft">
            <ion-item-sliding *virtualItem="let produto">
              <ion-item (click)="visualizarMercado(produto)">
                <ion-thumbnail item-start>
                    <img [src]="produto.mercado.foto" class="img-bordas-avatar">
                </ion-thumbnail>
                <produto-mercado-lista [produto]="produto"></produto-mercado-lista>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button red icon-only color="danger" (click)="removerProduto(produto)">
                  <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </ion-content>
