page-cadastro-produto {
    .img-bordas  {     
        //border-radius: 26px;
        width: 100%;
        height: 45vw;
    }
    
    .img-bordas-avatar  {  
        border-radius: 26px;
    }
    .itemion-header .item {
        background-color: #F8F8F8 !important;
    }
}
